# X-Frame-Options
<IfModule mod_headers.c>
	Header set X-Frame-Options "DENY"
	<FilesMatch ".(js|css|xml|gz|html)$">
    		Header append Vary: Accept-Encoding
  	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^lafabrikdesgourmandises.fr
RewriteRule (.*) https://www.lafabrikdesgourmandises.fr$1 [R=301,L]

